<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lvhaosir.mapper.WeeksTextMapper" >
  <resultMap id="BaseResultMap" type="cn.lvhaosir.entity.WeeksText" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="week_text_id" property="weekTextId" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="study" property="study" jdbcType="TINYINT" />
    <result column="health" property="health" jdbcType="TINYINT" />
    <result column="return_home" property="returnHome" jdbcType="TINYINT" />
    <result column="sleep_condition" property="sleepCondition" jdbcType="TINYINT" />
    <result column="mood" property="mood" jdbcType="TINYINT" />
    <result column="consume" property="consume" jdbcType="TINYINT" />
    <result column="love_lose" property="loveLose" jdbcType="TINYINT" />
    <result column="condition_text" property="conditionText" jdbcType="TINYINT" />
    <result column="teachers_return_text" property="teachersReturnText" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="return_time" property="returnTime" jdbcType="VARCHAR" />
  </resultMap>
</mapper>